/* Styles the body of the documentation email that goes out to the requestor of a sample after the sample request has been made. */

* {
  color: #231F20;
  font-family: 'Fira Sans Light';
  font-size: 16px;
  text-align: center;
}
  
#containerDocumentationInfo {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}
  
#containerFooter {
  margin-left: 80px;
  margin-right: 80px;
  text-align: left;
}
  
#containerGreeting {
  margin-left: 80px;
  margin-right: 80px;
  text-align: left;
}
  
#containerHeader {
  border-bottom: 1px solid;
  font-size: 26px;
  padding-bottom: 20px;
}
  
#containerIngredientInfo {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}
  
#containerSampleSize {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}
  
#containerSupportInfo {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
  
#containerThankYou {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}
  
.documentation-info {
  background-color: #8B9474;
  color: white;
  font-size: 16px;
}
  
.ingredient-info {
  color: #006400;
  font-size: 18px;
}
  
.support-info {
  font-size: 14px;
}
  
#textDocumentationTitle {
  font-size: 22px;
}
  
#textIngredientName {
  font-size: 25px;
  text-transform: capitalize;
}
  
#textThankYouSubtitle {
  font-size: 22.7px;
}
  
#textThankYouTitle {
  font-family: 'Fira Sans Medium';
  font-size: 48.5px;
}
  
#textVariantValue {
  font-size: 22px;
  text-transform: capitalize;
}
